@mixin fieldAlignment {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.form-wrapper {
  background-color: white;
  color: black;
}
.password-wrapper {
  @include fieldAlignment;
}
.text-wrapper {
  @include fieldAlignment;
}
.select-field-wrapper {
  @include fieldAlignment;
}
.checkbox-wrapper {
  @include fieldAlignment;
}
.btnSubmit {
  @include fieldAlignment;
}
.section-left-class {
  padding: 12px;
}
.section-right-class {
  padding: 12px;
}
